.gradient-custom {
    background: -webkit-linear-gradient(left, #159cad, #45bbdb);
}

.card-custom {
    border-bottom-left-radius: 10% 50%;
    border-top-left-radius: 10% 50%;
    background-color: #f8f9fa;
}


.input-custom {
    background-color: white;
}

.white-text {
    color:aliceblue;
    font-weight: 100;
    font-size: 18px;
}

.back-button {
    background-color: hsl(52, 0%, 98%);
    font-weight: 700;
    color: black;
    font-size: 20px;
    margin-top: 200px;
}

.DashBack {
background: -webkit-linear-gradient(left, #3931af, #00c6ff);
}